<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>URL Shortener</title>
    <meta name="theme-color" content="rgb(143,255,248)">
    <meta name="author" content="simba-fs">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="Url Shortener made by simba-fs
">
    <meta name="twitter:image" content="/assets/img/icon-1024.png">
    <meta name="description" content="A new url shortener,
made by simba-fs,
official website https://url.ckcsc.net">
    <meta property="og:image" content="/assets/img/icon-1024.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Url Shortener">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/icon-192.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
<% if(locals.GAid){ %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GAid%>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= GAid%>');
  </script>
<% } %>
</head>

<body class="d-md-flex flex-column justify-content-md-center align-items-md-center" style="height: 100vh;padding-top: 100px;">
    <!-- Start: nav -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search fixed-top" style="background-color: rgb(103,179,221);width: 100vw;">
        <div class="container"><a class="navbar-brand" href="/"><%= appName %></a><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav><!-- End: nav -->
    <div class="container bg-light shadow-lg" id="adminTable" style="padding: 20px;height: 65vh;">
        <div class="row">
            <div class="col-md-1 overflow-wrap">
                <p>Index</p>
            </div>
            <div class="col-md-2 overflow-wrap">
                <p>Code</p>
            </div>
            <div class="col overflow-wrap">
                <p>Url</p>
            </div>
            <div class="col-md-3 overflow-wrap">
                <p>Date</p>
            </div>
            <div class="col-md-2 overflow-wrap">
                <p>IP</p>
            </div>
        </div>
        <div class="overflow-y" style="height: 90%;"><% for(var i of records){ %>
            <div class="row">
                <div class="col-md-1 overflow-wrap">
                    <p><%= records.indexOf(i)+1 %></p>
                </div>
                <div class="col-md-2 overflow-wrap" style="height: 90%;">
                    <p><%= i.code %></p>
                </div>
                <div class="col overflow-wrap"><a href="<%= i.url %>" target="_blank"><span style="text-decoration: underline;"><%= i.url %></span></a></div>
                <div class="col-md-3 overflow-wrap">
                    <p><%= i.date %></p>
                </div>
                <div class="col-md-2 overflow-wrap">
                    <p><%= i.ip %></p>
                </div>
            </div><% } %>
        </div>
    </div><!-- Start: footer -->
    <footer class="text-center" style="background-color: rgba(89,141,184,0);">
        <div class="d-lg-flex justify-content-lg-center align-items-lg-center" style="margin-top: 20px;">
            <p>為了避免資源的浪費，我們會紀錄你的 IP ：<%= ip %></p>
        </div>
        <div class="text-center d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" style="margin-top: 20px;"><a class="github-button" href="https://github.com/simba-fs" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @simba-fs on GitHub">Follow @simba-fs</a>
<script async defer src="https://buttons.github.io/buttons.js"></script>
            <div style="width: 10px;"></div><a class="github-button" href="https://github.com/simba-fs/url-shortener" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star simba-fs/url-shortener on GitHub">Star</a>
<script async defer src="https://buttons.github.io/buttons.js"></script>
        </div>
        <h5 style="margin-top: 20px;"> <a href="https://github.com/simba-fs" target="_blank">simba-fs</a> © 2019-2020</h5><script>

</script>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="darkSwitch_1">
  <label class="custom-control-label" for="darkSwitch_1">Dark Mode</label>
</div>
<style>
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}    
</style>
    </footer><!-- End: footer -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://hcaptcha.com/1/api.js/?hl=zh-TW"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>