<!DOCTYPE html>
<html>
	<head>
		<% include include/head.html %>
		<link rel="stylesheet" href="/stylesheets/admin.css">
	</head>
	<body>
		<div id="content" class="center">
			<div id="around">
				<div class="row">
					<div class="code">CODE</div>
					<div class="url">URL</div>
					<div class="date">DATE</div>
					<div class="ip">IP</div>
				</div>
				<% for(var i of records){ %>
				<div class="row">
					<div class="code"><%= i.code %></div>
					<div class="url"><a href="<%= i.url %>"><%= i.url %></a></div>
					<div class="date"><%= i.date %></div>
					<div class="ip"><%= i.ip %></div>
				</div>
				<% } %>
			</div>
		</div>
		<% include include/lib.html %>
	</body>
</html>
