<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="center">
			<h1><%= title %></h1>
			<h2><a href="<%= url %>"><%= url %></a></h2>
			<a href="<%= baseUrl %>/<%= code %>"><%= code %></a>
			<img src="<%= qrcode %>">
		</div>

		<script src="/javascripts/clipboard.min.js"></script>
		<script>
			//new ClipboardJS('');
		</script>
	</body>
</html>
