<!DOCTYPE html>
<html>
	<head>
		<% include include/head.html %>
		<style>
button img {
	height: 15px;
	width: 15px;
}

button {
	background-color: white;
	border: white;
	display: inline-block;
}

.tooltip:hover::before{
	content: attr(data-tooltip);
	position: absolute;
	margin-left: 14px;
	white-space: pre;
}
		</style>
	</head>
	<body>
		<div id="content" nclass="center">
			<h1><%= title %></h1>
			<h2><a target="_blank" href="<%= url %>"><%= url %></a></h2>
			<a target="_blank" id="code" href="<%= baseUrl %>/<%= code %>"><%= baseUrl %>/<%= code %></a>
			<button class="tooltip btn" data-clipboard-target="#code" data-tooltip="copy">
				    <img src="/clip.svg" alt="Copy to clipboard">
			</button>
			<img src="<%= qrcode %>">
			<hr>
			<% include include/footer.html %>
		</div>

		<% include include/lib.html %>
		<script>
			new ClipboardJS('.btn');
		</script>
	</body>
</html>
